body {
    font-family: Lato;
    background-color: #deeaf6;
}

input[type="range"] {
    display: block;
    width: 100%;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #deeaf6;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid #ff1365;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}

.version {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 2px;
    z-index: 99999;
}

.version button {
    font-size: 11px;
    background-color: #2f5594;
    border: 1px solid #2f5594;
    color: #fff;
    border-radius: 5px;
    padding: 3px 6px;
    cursor: pointer;
}

.version button.active {
    background-color: #ff1365;
    border-color: #ff1365;
}

form {
    display: flex;
    max-width: 1280px;
    margin: auto;
    padding: 0 50px;
}

.vertical-something {
    position: fixed;
    top: 487px;
    right: -252px;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #2f5594;
    mix-blend-mode: normal;
    opacity: 0.5;
    transform: rotate(-90deg);
}

.heading,
.content {
    position: relative;
    max-width: 1280px;
    margin: auto;
    padding: 10px 50px 0;
    overflow: hidden;
}

.content.v2 {
    top: -125px;
}

.heading {
    padding-bottom: 30px;
}

.heading * {
    display: block;
}

.heading .prehead {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 2.25px;
    color: #00af9e;
}

.heading .head {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 70px;
}

.heading .logo {
    position: absolute;
    width: 70px;
    width: 70px;
    height: auto;
    top: 40px;
    right: 99px;
}

.content {
    padding-bottom: 60px;
}

.content h2 {
    ont-family: "Playfair Display";
    font-style: normal;
    font-weight: bold;
    font-size: 30.7385px;
    line-height: 60px;
}

.dataTables_length,
.dataTables_filter {
    padding-bottom: 20px;
    font-size: 12px;
    font-weight: bold;
}

.dataTables_paginate {
    margin-top: 20px;
    border-top: 1px solid #000;
}

.dataTables_paginate .paginate_button {
    border-radius: 50% !important;
    height: 44px;
    width: 44px;
    line-height: 44px;
    padding: 0 !important;
}

.paginate_button.previous,
.paginate_button.next {
    font-size: 20px;
    line-height: 38px;
}

.content .dataTables_wrapper .dataTables_paginate .paginate_button.current {
    border-radius: 50%;
    color: #fff !important;
    background: #ff1365 !important;
}

.content table {
    width: 100% !important;
    border-collapse: collapse;
    padding: 10px;
    border: 0;
}

.content td,
.content th {
    border-bottom: 1px solid #deeaf6;
    text-align: left;
    padding: 14px 5px !important;
}

.content th {
    white-space: nowrap;
}

.content tr {
    transition-duration: 0.4s;
    opacity: 1;
    color: #000;
    background-color: transparent !important;
}

.content tr.row-disabled {
    transition-duration: 0.4s;
    opacity: 1;
    color: #ccc;
    background-color: transparent !important;
}

.content tbody tr:hover {
    background-color: #fff !important;
}

.content tr.inactive {
    transition-duration: 0.4s;
    opacity: 0.3;
}

.content th {
    font-style: normal;
    font-weight: 900;
    font-size: 11.9538px;
    line-height: 16px;
    color: #57585b;
}

.content td {
    font-style: normal;
    font-weight: normal;
    font-size: 11.9538px;
    line-height: 17px;
}

td .tag {
    display: inline-block;
    mix-blend-mode: normal;
    border-radius: 12.3808px;
    font-weight: bold;
    font-size: 11.9538px;
    line-height: 17px;
    padding: 5px 12px;
}

.tag.success {
    background: rgba(0, 175, 158, 0.1);
    color: #00af9e;
}

.tag.warning {
    background: rgba(215, 119, 0, 0.1);
    color: #d77700;
}

.inactive .tag {
    background: rgba(140, 140, 140, 0.1);
    color: #999;
}

.totals {
    /*background: #2F5594;*/
    /*border-radius: 16.2607px;*/
    max-width: 385px;
    /*padding: 15px 15px 15px;*/
    padding: 0 0 40px 15px;
    /*text-align: right;*/
    /*box-sizing: border-box;*/
    position: relative;
    margin: auto;
    max-width: 1280px;
    overflow: hidden;
}

.totals .title {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 1.92561px;
    text-transform: uppercase;
}

.totals .sum {
    /*font-weight: 900;*/
    font-size: 18px;
    /*color: #FFF;*/
    border: none;
    background: transparent;
    text-align: left;
    margin-right: 20px;
}

.gauges,
.sliders {
    display: flex;
    align-content: flex-start;
    box-sizing: border-box;
}

.sliders {
    flex-direction: column;
    padding-right: 90px;
    padding-left: 75px;
    padding-top: 12px;
    position: relative;
    width: 45%;
}

.sliders.v2,
.sliders.v1 {
    transform: rotate(270deg);
}

.sliders.v1 {
    padding: 0 80px 20px 60px;
}

.sliders.v2 {
    padding: 0 26px 20px 173px;
    left: -40px;
}

.sliders .desc {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #2f5594;
    mix-blend-mode: normal;
    opacity: 0.5;
    padding-top: 30px;
}

.v2 .desc,
.v1 .desc {
    transform: rotate(90deg);
    position: absolute;
}

.v1 .desc {
    left: -195px;
    top: 146px;
}

.v2 .desc {
    left: -77px;
    top: 214px;
}

.gauges {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 20px;
    width: 55%;
}

.slider {
    padding: 50px 0 20px;
    position: relative;
}

.v1 .slider {
    padding-top: 50px;
}

.v2 .slider {
    height: 100px;
    padding: 0;
}

.minmax {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.min,
.max {
    position: absolute;
    font-weight: bolder;
    bottom: 19px;
    font-size: 12px;
    text-transform: uppercase;
    /*color: #FF1365;*/
}

.v2 .min,
.v2 .max,
.v1 .min,
.v1 .max {
    bottom: 14px;
    transform: rotate(90deg);
}

.min b,
.max b {
    font-weight: 400;
}

.max {
    right: -80px;
}

.v2 .max,
.v1 .max {
    right: -50px;
}

.min {
    left: -74px;
}

.v2 .min,
.v1 .min {
    left: -40px;
}

.slider label {
    position: absolute;
    bottom: 35px;
    font-weight: 700;
    display: block;
    padding-right: 90px;
    font-size: 14px;
    left: 0;
}

.slider:first-child {
    padding-top: 0;
}

.v2 .slider label {
    position: absolute;
    top: unset;
    bottom: 7px;
    right: 209px;
    display: block;
    padding: 0;
    font-size: 12px;
    transform: rotate(90deg);
    width: 84px;
    height: 84px;
    overflow: hidden;
    text-align: right;
}

.v2 .slider .e-range {
    top: 97px;
}

.slider .val {
    text-align: right;
    position: absolute;
    bottom: -10px;
    right: 0;
    list-style: none;
    font-size: 13px;
    margin: 0;
    padding: 0;
    transform: rotate(0deg);
}

.v2 .slider .val {
    bottom: 27px;
    transform: rotate(90deg);
    width: 70px;
}

.slider .val li {
    display: inline-block;
}

.v2 .slider .val li {
    display: block;
}

.value {
    font-weight: bold;
}

.gauge-container {
    width: 165px;
    height: 165px;
    margin: 0 20px 65px 0;
    position: relative;
    box-shadow: -14px -14px 30px #f3f9ff, 14px 14px 30px #becbd8;
    border-radius: 50%;
}

.radialProgressBar {
    width: 165px;
    height: 165px;
    position: relative;
    z-index: 1;
    transition-duration: 0.3s;
    border-radius: 50%;
    transform: translate(0.5%, 0.5%);
    display: flex;
    opacity: 0.95;
}

.minprogress {
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    border-radius: 50%;
}

.radialProgressBar .overlay {
    border-radius: 50%;
    width: 155px;
    height: 155px;
    margin: auto;
    background: #deeaf6;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 12px;
    font-weight: bold;
    opacity: 0.9;
}

#lbl,
.radialProgressBar .overlay .value {
    position: absolute;
    top: 100%;
    background: linear-gradient(
            -334.72deg,
            rgba(0, 0, 0, 0.4) 0%,
            rgba(255, 255, 255, 0.4) 105.18%
    ),
    #ebf5ff;
    background-blend-mode: soft-light, normal;
    mix-blend-mode: normal;
    opacity: 0.5;
    border: 0.61047px solid rgba(255, 255, 255, 0.4);
    box-sizing: border-box;
    box-shadow: inset 4px 4px 6px #a6abbd, inset -4px -4px 6px #fafbff;
    border-radius: 28.1182px;
    padding: 7px 15px;
    margin-top: 22px;
}

.radialProgressBar .overlay .label {
    text-align: center;
    font-size: 16px;
    padding: 7px;
}

.meter-container .label {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: -20px;
    margin-top: 26px;
}

.progress {
    transition-duration: 0.2s;
    position: relative;
}

input[type="range"] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
    position: relative;
    z-index: 9999;
}

input[type="range"]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

.slider:before {
    content: "";
    height: 7px;
    width: 100%;
    position: absolute;
    bottom: 22px;
    left: 0;
    background-color: #ff1365;
}

.slider input {
    background: -webkit-gradient(
            linear,
            left top,
            right top,
            from(#2f5594),
            color-stop(100%, #00af9e),
            color-stop(100%, #ffffff),
            to(#ffffff)
    );
    background: linear-gradient(
            -to right,
            #2f5594 0%,
            #00af9e 100%,
            #ffffff 100%,
            #ffffff 100%
    );
    height: 7px;
    width: 100%;
    outline: none;
    -webkit-transition: background 450ms ease-in;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
}

.slider input::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    cursor: pointer;
    background: #fff;
    box-shadow: 2px 2px 6px rgba(47, 85, 148, 0.3);
}

.meter-container {
    height: 222px;
    overflow: hidden;
    display: none;
}

#wrapper {
    position: relative;
    margin: auto;
}

#meter {
    width: 100%;
    height: 100%;
    transform: rotateX(180deg);
}

.circle {
    fill: none;
}

.outline,
#mask {
    stroke: rgba(222, 234, 247, 0.6);
    stroke-width: 50;
}

.range {
    stroke-width: 42;
}

#slider,
#lbl {
    position: absolute;
}

#slider {
    cursor: pointer;
    left: 0;
    margin: auto;
    right: 0;
    top: 47%;
    width: 85%;
}

#lbl {
    position: absolute;
    top: 145px;
    left: 120px;
    font-size: 13px;
    font-weight: 600;
}

#meter_needle {
    height: 38%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 10%;
    transform-origin: bottom center;
    /*orientation fix*/
    transform: rotate(270deg);
}

.subtitle {
    margin-top: 0;
}

.content select,
.content input {
    padding: 8px;
    border: 1px solid #efefef;
    border-radius: 5px;
    box-shadow: -14px -14px 30px #f3f9ff, 14px 14px 30px #becbd8;
    margin-left: 10px;
    outline: 0;
}

.content select {
    margin-right: 10px;
}

.meteors {
    position: relative;
    top: -55px;
    width: 100%;
    display: flex;
    height: 160px;
    overflow: hidden;
    max-width: 1280px;
    margin: auto;
    padding: 150px 0 60px;
    justify-content: space-between;
}

.meteor {
    height: 320px;
    width: 320px;
    position: relative;
}

.meteor-smalls {
    font-size: 12px;
    font-weight: bold;
}

.meteor-left {
    position: absolute;
    left: 62px;
}

.meteor-right {
    position: absolute;
    right: 44px;
}

.meteor:first-child .meteor-left {
    left: 181px;
    top: -11px;
}

.meteor:first-child .meteor-right {
    left: 312px;
    top: 77px;
}

.meteor-content {
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.meteor .hole {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 220px;
    height: 220px;
    z-index: 2;
    background-color: #deeaf6;
    border-radius: 50%;
}

.meteor-values {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
}

.meteor .text {
    position: absolute;
    font-size: 11px;
    font-weight: 700;
}

.meteor .text:nth-child(1) {
    top: 80px;
    left: 80px;
}

.meteor .text:nth-child(2) {
    top: 55px;
    left: 140px;
}

.meteor .text:nth-child(3) {
    top: 80px;
    right: 80px;
}

.meteor-container {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    overflow: hidden;
    border-radius: 50%;
    z-index: 1;
}

.meteor-section {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 0;
    width: 0;
    position: absolute;
    top: 0;
    right: 0;
    transform-origin: bottom left;
    border-top: 150px solid transparent;
}

.meteor-shade {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 0;
    width: 0;
    position: absolute;
    top: 0;
    right: 0;
    transform-origin: bottom left;
    border-top: 160px solid transparent;
    z-index: 3;
}

.meteor-title {
    position: absolute;
    top: 170px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    left: 60px;
    right: 60px;
    z-index: 4;
    cursor: pointer;
}

.meteor-title .tooltip {
    display: none;
}

.meteor-title .tooltip ul {
    font-weight: normal;
    font-size: 14px;
    margin: 0;
    padding: 20px 0 20px 20px;
}

.meteor-title:hover .tooltip {
    display: block;
    position: absolute;
    bottom: 100%;
    left: -30px;
    right: -30px;
    background-color: #deeaf6;
    border: 1px solid #ddd;
    box-shadow: -14px -14px 30px #f3f9ff, 14px 14px 30px #becbd8;
    text-align: left;
    padding: 10px;
    border-radius: 10px;
}

.meteor:nth-child(1) .meteor-shade {
    border-right: 160px solid rgba(110, 49, 158, 0.3);
    transform: rotate(335deg);
}

.meteor:nth-child(2) .meteor-shade {
    border-right: 160px solid rgba(246, 20, 17, 0.3);
    transform: rotate(295deg);
}

.meteor:nth-child(3) .meteor-shade {
    border-right: 160px solid rgba(255, 188, 40, 0.3);
    transform: rotate(295deg);
}

.meteor-section:nth-child(1) {
    transform: rotate(225deg);
    border-right: 150px solid #96d058;
}

.meteor-section:nth-child(2) {
    transform: rotate(270deg);
    border-right: 150px solid #fabc28;
}

.meteor-section:nth-child(3) {
    transform: rotate(315deg);
    border-right: 150px solid #f61411;
}

.meteor-section:nth-child(4) {
    border-right: 150px solid #6e319e;
    transform: rotate(0deg);
}

.minprogress[data-fill="0"] {
    background-image: linear-gradient(-90deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="1"] {
    background-image: linear-gradient(-86deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="2"] {
    background-image: linear-gradient(-82deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="3"] {
    background-image: linear-gradient(-79deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="4"] {
    background-image: linear-gradient(-76deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="5"] {
    background-image: linear-gradient(-73deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="6"] {
    background-image: linear-gradient(-70deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="7"] {
    background-image: linear-gradient(-67deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="8"] {
    background-image: linear-gradient(-64deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="9"] {
    background-image: linear-gradient(-60deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="10"] {
    background-image: linear-gradient(-54deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="11"] {
    background-image: linear-gradient(-50deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="12"] {
    background-image: linear-gradient(-45deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="13"] {
    background-image: linear-gradient(-42deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="14"] {
    background-image: linear-gradient(-37deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="15"] {
    background-image: linear-gradient(-33deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="16"] {
    background-image: linear-gradient(-30deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="17"] {
    background-image: linear-gradient(-27deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="18"] {
    background-image: linear-gradient(-24deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="19"] {
    background-image: linear-gradient(-21deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="20"] {
    background-image: linear-gradient(-18deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="21"] {
    background-image: linear-gradient(-14deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="22"] {
    background-image: linear-gradient(-11deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="23"] {
    background-image: linear-gradient(-7deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="24"] {
    background-image: linear-gradient(-3deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="25"] {
    background-image: linear-gradient(1deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="26"] {
    background-image: linear-gradient(4deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="27"] {
    background-image: linear-gradient(7deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="28"] {
    background-image: linear-gradient(10deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="29"] {
    background-image: linear-gradient(14deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="30"] {
    background-image: linear-gradient(18deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="31"] {
    background-image: linear-gradient(21deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="32"] {
    background-image: linear-gradient(25deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="33"] {
    background-image: linear-gradient(28deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="34"] {
    background-image: linear-gradient(31deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="35"] {
    background-image: linear-gradient(34deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="36"] {
    background-image: linear-gradient(38deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="37"] {
    background-image: linear-gradient(41deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="38"] {
    background-image: linear-gradient(44deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="39"] {
    background-image: linear-gradient(48deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="40"] {
    background-image: linear-gradient(54deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="41"] {
    background-image: linear-gradient(58deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="42"] {
    background-image: linear-gradient(61deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="43"] {
    background-image: linear-gradient(64deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="44"] {
    background-image: linear-gradient(68deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="45"] {
    background-image: linear-gradient(72deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="46"] {
    background-image: linear-gradient(76deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="47"] {
    background-image: linear-gradient(80deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="48"] {
    background-image: linear-gradient(83deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="49"] {
    background-image: linear-gradient(87deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="50"] {
    background-image: linear-gradient(90deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="51"] {
    background-image: linear-gradient(-90deg, #ff1365 50%, transparent 50%),
    linear-gradient(-86deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="52"] {
    background-image: linear-gradient(-90deg, #ff1365 50%, transparent 50%),
    linear-gradient(-83deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="53"] {
    background-image: linear-gradient(-90deg, #ff1365 50%, transparent 50%),
    linear-gradient(-80deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="54"] {
    background-image: linear-gradient(-90deg, #ff1365 50%, transparent 50%),
    linear-gradient(-76deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="55"] {
    background-image: linear-gradient(-90deg, #ff1365 50%, transparent 50%),
    linear-gradient(-73deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="56"] {
    background-image: linear-gradient(-90deg, #ff1365 50%, transparent 50%),
    linear-gradient(-69deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="57"] {
    background-image: linear-gradient(-90deg, #ff1365 50%, transparent 50%),
    linear-gradient(-66deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="58"] {
    background-image: linear-gradient(-90deg, #ff1365 50%, transparent 50%),
    linear-gradient(-62deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="59"] {
    background-image: linear-gradient(-90deg, #ff1365 50%, transparent 50%),
    linear-gradient(-56deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="60"] {
    background-image: linear-gradient(-90deg, #ff1365 50%, transparent 50%),
    linear-gradient(-54deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="61"] {
    background-image: linear-gradient(-90deg, #ff1365 50%, transparent 50%),
    linear-gradient(-48deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="62"] {
    background-image: linear-gradient(-90deg, #ff1365 50%, transparent 50%),
    linear-gradient(-44deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="63"] {
    background-image: linear-gradient(-90deg, #ff1365 50%, transparent 50%),
    linear-gradient(-40deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="64"] {
    background-image: linear-gradient(-90deg, #ff1365 50%, transparent 50%),
    linear-gradient(-37deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="65"] {
    background-image: linear-gradient(-90deg, #ff1365 50%, transparent 50%),
    linear-gradient(-33deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="66"] {
    background-image: linear-gradient(-90deg, #ff1365 50%, transparent 50%),
    linear-gradient(-30deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="67"] {
    background-image: linear-gradient(-90deg, #ff1365 50%, transparent 50%),
    linear-gradient(-27deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="68"] {
    background-image: linear-gradient(-90deg, #ff1365 50%, transparent 50%),
    linear-gradient(-24deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="69"] {
    background-image: linear-gradient(-90deg, #ff1365 50%, transparent 50%),
    linear-gradient(-21deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="70"] {
    background-image: linear-gradient(-90deg, #ff1365 50%, transparent 50%),
    linear-gradient(-18deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="71"] {
    background-image: linear-gradient(-90deg, #ff1365 50%, transparent 50%),
    linear-gradient(-14deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="72"] {
    background-image: linear-gradient(-90deg, #ff1365 50%, transparent 50%),
    linear-gradient(-10deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="73"] {
    background-image: linear-gradient(-90deg, #ff1365 50%, transparent 50%),
    linear-gradient(-6deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="74"] {
    background-image: linear-gradient(-90deg, #ff1365 50%, transparent 50%),
    linear-gradient(-2deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="75"] {
    background-image: linear-gradient(-90deg, #ff1365 50%, transparent 50%),
    linear-gradient(2deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="76"] {
    background-image: linear-gradient(-90deg, #ff1365 50%, transparent 50%),
    linear-gradient(6deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="77"] {
    background-image: linear-gradient(-90deg, #ff1365 50%, transparent 50%),
    linear-gradient(9deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="78"] {
    background-image: linear-gradient(-90deg, #ff1365 50%, transparent 50%),
    linear-gradient(13deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="79"] {
    background-image: linear-gradient(-90deg, #ff1365 50%, transparent 50%),
    linear-gradient(16deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="80"] {
    background-image: linear-gradient(-90deg, #ff1365 50%, transparent 50%),
    linear-gradient(18deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="81"] {
    background-image: linear-gradient(-90deg, #ff1365 50%, transparent 50%),
    linear-gradient(22deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="82"] {
    background-image: linear-gradient(-90deg, #ff1365 50%, transparent 50%),
    linear-gradient(26deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="83"] {
    background-image: linear-gradient(-90deg, #ff1365 50%, transparent 50%),
    linear-gradient(29deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="84"] {
    background-image: linear-gradient(-90deg, #ff1365 50%, transparent 50%),
    linear-gradient(31deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="85"] {
    background-image: linear-gradient(-90deg, #ff1365 50%, transparent 50%),
    linear-gradient(34deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="86"] {
    background-image: linear-gradient(-90deg, #ff1365 50%, transparent 50%),
    linear-gradient(37deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="87"] {
    background-image: linear-gradient(-90deg, #ff1365 50%, transparent 50%),
    linear-gradient(41deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="88"] {
    background-image: linear-gradient(-90deg, #ff1365 50%, transparent 50%),
    linear-gradient(45deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="89"] {
    background-image: linear-gradient(-90deg, #ff1365 50%, transparent 50%),
    linear-gradient(49deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="90"] {
    background-image: linear-gradient(-90deg, #ff1365 50%, transparent 50%),
    linear-gradient(54deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="91"] {
    background-image: linear-gradient(-90deg, #ff1365 50%, transparent 50%),
    linear-gradient(57deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="92"] {
    background-image: linear-gradient(-90deg, #ff1365 50%, transparent 50%),
    linear-gradient(60deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="93"] {
    background-image: linear-gradient(-90deg, #ff1365 50%, transparent 50%),
    linear-gradient(64deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="94"] {
    background-image: linear-gradient(-90deg, #ff1365 50%, transparent 50%),
    linear-gradient(68deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="95"] {
    background-image: linear-gradient(-90deg, #ff1365 50%, transparent 50%),
    linear-gradient(72deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="96"] {
    background-image: linear-gradient(-90deg, #ff1365 50%, transparent 50%),
    linear-gradient(75deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="97"] {
    background-image: linear-gradient(-90deg, #ff1365 50%, transparent 50%),
    linear-gradient(78deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="98"] {
    background-image: linear-gradient(-90deg, #ff1365 50%, transparent 50%),
    linear-gradient(82deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="99"] {
    background-image: linear-gradient(-90deg, #ff1365 50%, transparent 50%),
    linear-gradient(85deg, #ff1365 50%, #deeaf6 50%);
}

.minprogress[data-fill="100"] {
    background-image: linear-gradient(-90deg, #ff1365 50%, transparent 50%),
    linear-gradient(90deg, #ff1365 50%, #deeaf6 50%);
}

/* - */

.progress[data-fill="0"] {
    background-image: linear-gradient(-90deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="1"] {
    background-image: linear-gradient(-86deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="2"] {
    background-image: linear-gradient(-82deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="3"] {
    background-image: linear-gradient(-79deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="4"] {
    background-image: linear-gradient(-76deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="5"] {
    background-image: linear-gradient(-73deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="6"] {
    background-image: linear-gradient(-70deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="7"] {
    background-image: linear-gradient(-67deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="8"] {
    background-image: linear-gradient(-64deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="9"] {
    background-image: linear-gradient(-60deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="10"] {
    background-image: linear-gradient(-54deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="11"] {
    background-image: linear-gradient(-50deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="12"] {
    background-image: linear-gradient(-45deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="13"] {
    background-image: linear-gradient(-42deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="14"] {
    background-image: linear-gradient(-37deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="15"] {
    background-image: linear-gradient(-33deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="16"] {
    background-image: linear-gradient(-30deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="17"] {
    background-image: linear-gradient(-27deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="18"] {
    background-image: linear-gradient(-24deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="19"] {
    background-image: linear-gradient(-21deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="20"] {
    background-image: linear-gradient(-18deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="21"] {
    background-image: linear-gradient(-14deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="22"] {
    background-image: linear-gradient(-11deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="23"] {
    background-image: linear-gradient(-7deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="24"] {
    background-image: linear-gradient(-3deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="25"] {
    background-image: linear-gradient(1deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="26"] {
    background-image: linear-gradient(4deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="27"] {
    background-image: linear-gradient(7deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="28"] {
    background-image: linear-gradient(10deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="29"] {
    background-image: linear-gradient(14deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="30"] {
    background-image: linear-gradient(18deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="31"] {
    background-image: linear-gradient(21deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="32"] {
    background-image: linear-gradient(25deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="33"] {
    background-image: linear-gradient(28deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="34"] {
    background-image: linear-gradient(31deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="35"] {
    background-image: linear-gradient(34deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="36"] {
    background-image: linear-gradient(38deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="37"] {
    background-image: linear-gradient(41deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="38"] {
    background-image: linear-gradient(44deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="39"] {
    background-image: linear-gradient(48deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="40"] {
    background-image: linear-gradient(54deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="41"] {
    background-image: linear-gradient(58deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="42"] {
    background-image: linear-gradient(61deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="43"] {
    background-image: linear-gradient(64deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="44"] {
    background-image: linear-gradient(68deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="45"] {
    background-image: linear-gradient(72deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="46"] {
    background-image: linear-gradient(76deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="47"] {
    background-image: linear-gradient(80deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="48"] {
    background-image: linear-gradient(83deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="49"] {
    background-image: linear-gradient(87deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="50"] {
    background-image: linear-gradient(90deg, #deeaf6 50%, transparent 50%),
    linear-gradient(-90deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="51"] {
    background-image: linear-gradient(-90deg, #00af9e 50%, transparent 50%),
    linear-gradient(-86deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="52"] {
    background-image: linear-gradient(-90deg, #00af9e 50%, transparent 50%),
    linear-gradient(-83deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="53"] {
    background-image: linear-gradient(-90deg, #00af9e 50%, transparent 50%),
    linear-gradient(-80deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="54"] {
    background-image: linear-gradient(-90deg, #00af9e 50%, transparent 50%),
    linear-gradient(-76deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="55"] {
    background-image: linear-gradient(-90deg, #00af9e 50%, transparent 50%),
    linear-gradient(-73deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="56"] {
    background-image: linear-gradient(-90deg, #00af9e 50%, transparent 50%),
    linear-gradient(-69deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="57"] {
    background-image: linear-gradient(-90deg, #00af9e 50%, transparent 50%),
    linear-gradient(-66deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="58"] {
    background-image: linear-gradient(-90deg, #00af9e 50%, transparent 50%),
    linear-gradient(-62deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="59"] {
    background-image: linear-gradient(-90deg, #00af9e 50%, transparent 50%),
    linear-gradient(-56deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="60"] {
    background-image: linear-gradient(-90deg, #00af9e 50%, transparent 50%),
    linear-gradient(-54deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="61"] {
    background-image: linear-gradient(-90deg, #00af9e 50%, transparent 50%),
    linear-gradient(-48deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="62"] {
    background-image: linear-gradient(-90deg, #00af9e 50%, transparent 50%),
    linear-gradient(-44deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="63"] {
    background-image: linear-gradient(-90deg, #00af9e 50%, transparent 50%),
    linear-gradient(-40deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="64"] {
    background-image: linear-gradient(-90deg, #00af9e 50%, transparent 50%),
    linear-gradient(-37deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="65"] {
    background-image: linear-gradient(-90deg, #00af9e 50%, transparent 50%),
    linear-gradient(-33deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="66"] {
    background-image: linear-gradient(-90deg, #00af9e 50%, transparent 50%),
    linear-gradient(-30deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="67"] {
    background-image: linear-gradient(-90deg, #00af9e 50%, transparent 50%),
    linear-gradient(-27deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="68"] {
    background-image: linear-gradient(-90deg, #00af9e 50%, transparent 50%),
    linear-gradient(-24deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="69"] {
    background-image: linear-gradient(-90deg, #00af9e 50%, transparent 50%),
    linear-gradient(-21deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="70"] {
    background-image: linear-gradient(-90deg, #00af9e 50%, transparent 50%),
    linear-gradient(-18deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="71"] {
    background-image: linear-gradient(-90deg, #00af9e 50%, transparent 50%),
    linear-gradient(-14deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="72"] {
    background-image: linear-gradient(-90deg, #00af9e 50%, transparent 50%),
    linear-gradient(-10deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="73"] {
    background-image: linear-gradient(-90deg, #00af9e 50%, transparent 50%),
    linear-gradient(-6deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="74"] {
    background-image: linear-gradient(-90deg, #00af9e 50%, transparent 50%),
    linear-gradient(-2deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="75"] {
    background-image: linear-gradient(-90deg, #00af9e 50%, transparent 50%),
    linear-gradient(2deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="76"] {
    background-image: linear-gradient(-90deg, #00af9e 50%, transparent 50%),
    linear-gradient(6deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="77"] {
    background-image: linear-gradient(-90deg, #00af9e 50%, transparent 50%),
    linear-gradient(9deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="78"] {
    background-image: linear-gradient(-90deg, #00af9e 50%, transparent 50%),
    linear-gradient(13deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="79"] {
    background-image: linear-gradient(-90deg, #00af9e 50%, transparent 50%),
    linear-gradient(16deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="80"] {
    background-image: linear-gradient(-90deg, #00af9e 50%, transparent 50%),
    linear-gradient(18deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="81"] {
    background-image: linear-gradient(-90deg, #00af9e 50%, transparent 50%),
    linear-gradient(22deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="82"] {
    background-image: linear-gradient(-90deg, #00af9e 50%, transparent 50%),
    linear-gradient(26deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="83"] {
    background-image: linear-gradient(-90deg, #00af9e 50%, transparent 50%),
    linear-gradient(29deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="84"] {
    background-image: linear-gradient(-90deg, #00af9e 50%, transparent 50%),
    linear-gradient(31deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="85"] {
    background-image: linear-gradient(-90deg, #00af9e 50%, transparent 50%),
    linear-gradient(34deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="86"] {
    background-image: linear-gradient(-90deg, #00af9e 50%, transparent 50%),
    linear-gradient(37deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="87"] {
    background-image: linear-gradient(-90deg, #00af9e 50%, transparent 50%),
    linear-gradient(41deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="88"] {
    background-image: linear-gradient(-90deg, #00af9e 50%, transparent 50%),
    linear-gradient(45deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="89"] {
    background-image: linear-gradient(-90deg, #00af9e 50%, transparent 50%),
    linear-gradient(49deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="90"] {
    background-image: linear-gradient(-90deg, #00af9e 50%, transparent 50%),
    linear-gradient(54deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="91"] {
    background-image: linear-gradient(-90deg, #00af9e 50%, transparent 50%),
    linear-gradient(57deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="92"] {
    background-image: linear-gradient(-90deg, #00af9e 50%, transparent 50%),
    linear-gradient(60deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="93"] {
    background-image: linear-gradient(-90deg, #00af9e 50%, transparent 50%),
    linear-gradient(64deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="94"] {
    background-image: linear-gradient(-90deg, #00af9e 50%, transparent 50%),
    linear-gradient(68deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="95"] {
    background-image: linear-gradient(-90deg, #00af9e 50%, transparent 50%),
    linear-gradient(72deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="96"] {
    background-image: linear-gradient(-90deg, #00af9e 50%, transparent 50%),
    linear-gradient(75deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="97"] {
    background-image: linear-gradient(-90deg, #00af9e 50%, transparent 50%),
    linear-gradient(78deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="98"] {
    background-image: linear-gradient(-90deg, #00af9e 50%, transparent 50%),
    linear-gradient(82deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="99"] {
    background-image: linear-gradient(-90deg, #00af9e 50%, transparent 50%),
    linear-gradient(85deg, #00af9e 50%, #deeaf6 50%);
}

.progress[data-fill="100"] {
    background-image: linear-gradient(-90deg, #00af9e 50%, transparent 50%),
    linear-gradient(90deg, #00af9e 50%, #deeaf6 50%);
}
